@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* #region MENU */

/* Parte direcionada ao Menu Superior */
.menuSuperior{
    width: 100%;
    height: 90px;
    background-color: rgb(19, 27, 21);
    border-bottom: 2px solid rgba(44, 63, 27, 0.801);
    position: fixed;
}

.navMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/* #region logo */
/* Logo do canto superior à esquerda */
.logo{
    padding-left: 55px;
}

.logo img{
    width: 60px;
    height: auto;
}

/* #endregion */

/* #region Menu de botões */
.listaMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: auto;
    list-style: none;
    /* background-color: brown; */
}

.listaMenu .itemMenu{
    font-size: 22px;
    
}

.listaMenu .itemMenu a{
    text-decoration: none;
    color: rgb(182,140,6);
}

/* !!!!!! Tem coisa a fazer aqui!!!!!!!!!! */

/* #endregion */

/* #endregion */

/* #region PARTE INICIAL */

/* Parte da Direita da Página Inicial */
.page1{
    width: 100%;
    height: 750px;
    background: linear-gradient( 120deg, #090D0A, #090D0A, #090D0A, #090D0A, #172513, #090D0A, #090D0A);
    border-bottom: 2px solid rgba(44, 63, 27, 0.801);
}

.page1 .areaExterna{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

/* #region Parte Esquerda */
.page1 .areaExterna .parteEsquerda{
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    gap: 45px;
    width: 55%;
}


/* !!!!!!!!!!! Quero colocar aquele movimento de digitar e ir aparecendo */

/* #region Escrita */
.parteEsquerda .subtitulo{
    padding-top: 190px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(76,114,41);    
}

.parteEsquerda .titulo {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.nome{
    font-size: 80px;
    font-weight: 600;
    line-height: 0.9;
    color: rgb(255,243,204);
}

.sobrenome{
    display: flex;
    flex-direction: row;
    gap: 0;
    font-size: 90px;
    font-weight: 600;
}

.sobrenome .texto{
    color: rgb(255,243,204);
}

.sobrenome .ponto{
    color: rgb(182,140,6);
}

.fraseInicial{
    font-size: 25px;
    color: rgb(255,243,204);
}

/* #region Botões Iniciais */
.botoesIniciais{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.verProjetos{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(19, 27, 21);
    border: 3px solid rgb(182,140,6);
    padding: 10px 25px;
    gap: 10px;
}

.verProjetos:hover{
    background-color: rgb(182,140,6);
    color: rgb(255,243,204);
}
.verProjetos:hover p, .verProjetos:hover i{
    color: rgb(255,243,204);
}

.verProjetos p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(182,140,6);
}

.verProjetos i{
    font-size: 25px;
    color: rgb(182,140,6);
}


/* #region Não sei se colocarei essa parte */
.baixarCurriculo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 2px 5px 2px;
    gap: 10px;
    background: linear-gradient(to right, #090D0A, #1b2b17, #090D0A, #1b2b17, #090D0A, #1b2b17, #090D0A);
    border-bottom: 3px solid rgb(76,114,41);
    border-top: none;
    border-left: none;
    border-right: none;
}

.baixarCurriculo p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(255,243,204);
}

.baixarCurriculo i{
    font-size: 20px;
    color: rgb(255,243,204);
}
/* #endregion */

/* #nedregion */




/* #endregion */

/* #endregion */




/* #endregion */


/* #region Parte Direita */

.page1 .areaExterna .parteDireita{
    display: flex;
    align-items: center;
    width: 45%;
}

.parteDireita img{
    width: 60%;
    height: auto;
    padding-bottom: 50px;
}

/* #endregion */


/* #endregion */

/* #endregion */