@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* #region BARRA DE SCROLLAR */

/* largura da barra */
::-webkit-scrollbar{
    width: 8px;
}

/* fundo da barra */
::-webkit-scrollbar-track{
    background-color: rgb(9, 13, 10);
}

/* parte que desliza */
::-webkit-scrollbar-thumb{
    background-color: rgb(76, 114, 41);
    border-radius: 10px;
}

/* quando passa o mouse */
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(182, 140, 6);
}

/* #endregion */


/* #region MENU */

/* Parte direcionada ao Menu Superior */
.menuSuperior{
    width: 100%;
    height: 70px;
    background-color: rgb(19, 27, 21);
    border-bottom: 2px solid rgba(44, 63, 27, 0.801);
    position: fixed;
}

.navMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/* #region logo */
/* Logo do canto superior à esquerda */
.navMenu .logo{
    padding-left: 55px;
}

.navMenu .logo img{
    width: 50px;
    height: auto;
}

/* #endregion */

/* #region Menu de botões */
.listaMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: auto;
    list-style: none;
}

.listaMenu .itemMenu{
    font-size: 20px;
    font-weight: 600;
}

.listaMenu .itemMenu a{
    text-decoration: none;
    color: rgb(182,140,6);
    opacity: 0.6;
    transition: all 0.3s ease;
}

.listaMenu .itemMenu a:hover{
    opacity: 0.9;
}

.listaMenu .itemMenu a.ativo{
    opacity: 1;
    font-weight: 800;
}

/* !!!!!! Tem coisa a fazer aqui!!!!!!!!!! */

/* #endregion */

/* #endregion */


/* #region PARTE INICIAL */

/* Parte da Direita da Página Inicial */
.page1{
    width: 100%;
    height: 580px;
    background: linear-gradient( 120deg, #090D0A, #090D0A, #090D0A, #090D0A, #172513, #090D0A, #090D0A);
    border-bottom: 2px solid rgba(44, 63, 27, 0.801);
    scroll-margin-top: 70px;
}

.page1 .areaExterna{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

/* #region Parte Esquerda */
.page1 .areaExterna .parteEsquerda{
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    gap: 20px;
    width: 55%;
}


/* !!!!!!!!!!! Quero colocar aquele movimento de digitar e ir aparecendo */

/* #region Escrita */
.parteEsquerda .subtitulo{
    padding-top: 150px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(76,114,41);    
}

.parteEsquerda .titulo {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.nome{
    font-size: 70px;
    font-weight: 600;
    line-height: 0.9;
    color: rgb(255,243,204);
}

.sobrenome{
    display: flex;
    flex-direction: row;
    gap: 0;
    font-size: 80px;
    font-weight: 600;
}

.sobrenome .texto{
    color: rgb(255,243,204);
}

.sobrenome .ponto{
    color: rgb(182,140,6);
}

.fraseInicial{
    font-size: 20px;
    color: rgb(255,243,204);
}

/* #region Botões Iniciais */
.botoesIniciais{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.verProjetos{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(19, 27, 21);
    border: 3px solid rgb(182,140,6);
    padding: 10px 25px;
    gap: 10px;
    text-decoration: none;
}

.verProjetos:hover{
    background-color: rgb(182,140,6);
    color: rgb(255,243,204);
}
.verProjetos:hover p, .verProjetos:hover i{
    color: rgb(255,243,204);
}

.verProjetos p{
    font-size: 15px;
    font-weight: 600;
    color: rgb(182,140,6);
}

.verProjetos i{
    font-size: 20px;
    color: rgb(182,140,6);
}


/* #region Não sei se colocarei essa parte */
.baixarCurriculo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 2px 5px 2px;
    gap: 10px;
    background: linear-gradient(to right, #090D0A, #1b2b17, #090D0A, #1b2b17, #090D0A, #1b2b17, #090D0A);
    border-bottom: 3px solid rgb(76,114,41);
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
}

.baixarCurriculo p{
    font-size: 15px;
    font-weight: 600;
    color: rgb(255,243,204);
}

.baixarCurriculo i{
    font-size: 18px;
    color: rgb(255,243,204);
}
/* #endregion */

/* #nedregion */




/* #endregion */

/* #endregion */




/* #endregion */


/* #region Parte Direita */

.page1 .areaExterna .parteDireita{
    display: flex;
    align-items: center;
    width: 45%;
}

.parteDireita img{
    width: 60%;
    height: auto;
    padding-bottom: 50px;
}

/* #endregion */


/* #endregion */


/* #region SOBRE MIM */
.page2{
    width: 100%;
    height: 440px;
    background-color: rgb(9, 13, 10);
    border-bottom: 2px solid rgba(44, 63, 27, 0.801);
    scroll-margin-top: 70px;
}

.page2 .areaExterna{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.textoConteudo{
    display: flex;
    flex-direction: column;
    width: 60%;
}

/* #region tema das partes 1 e 2 */
.tema{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 70px 0 0 78px;
}

.tema .ponto{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(76,114,41);
}

.tema p{
    font-size: 22px;
    font-weight: 600;
    color: rgb(255,243,204); 
}
/* #endregion */

.textoConteudo .textoSobreMim{
    width: 80%;
    padding: 30px 0 0 110px;
    font-size: 18px;
    color: rgb(255,243,204);
}


/* Divisor vertical */
.page2 .areaExterna .areaDivisor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page2 .areaExterna .divisor{
    width: 2px;
    height: 72%;
    background-color: rgba(121, 250, 0, 0.103);
}

/* #region Informações Adicionais */
.page2 .areaExterna .informacoesAdicionais{
    display: flex;
    flex-direction: column;
    height: auto;
}

.informacoesAdicionais .categorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 50px;
    height: 100%;
}

.formacao, .premio, .tecnico, .trabalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.simboloFormar, .simboloPremio, .simboloTecnico, .simboloTrabalho{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(76, 114, 41, 0.404);
    border-radius: 100%;
}

.topicos{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
    font-weight: 300;
    color: rgb(255,243,204);
}

.simboloFormar i{
    color: rgb(76,114,41);
    font-size: 24px;
}

.simboloPremio i{
    color: rgb(76,114,41);
    font-size: 30px;
}

.simboloTecnico i{
    color: rgb(182,140,6);
    font-size: 30px;
}

.simboloTrabalho i{
    color: rgb(182,140,6);
    font-size: 20px;
}

/* #endregion */


/* #endregion */


/* #region PROJETOS */

/* area projeto */
.page3{
    width: 100%;
    height: 530px;
    background-color: rgb(9, 13, 10);
    border-bottom: 2px solid rgba(44, 63, 27, 0.801);
    scroll-margin-top: 70px;
}

.page3 .areaExterna{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* #region Região dos CARD */
.areaCards{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.areaCards .cardProjeto{
    position: relative;
    width: 400px;
    height: 320px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid rgb(76,114,41);
    background-color: #131714;
    transition: transform 0.3s ease;
}

.primeirasInfos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
}

/* imagens dos cards 1 e 3 */
.imagemProjeto{
    width: 100%;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.imagemProjeto img{
    width: 380px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    display: block;
    transition: filter 0.45s ease, transform 0.45s ease;
}

.cardProjeto:hover .imagemProjeto img{
    filter: brightness(0.75);
}

/* imagem do card 2 */
.imagemProjeto2{
    width: 100%;
    height: 235px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.imagemProjeto2 .img1, 
.imagemProjeto2 .img2{
    object-fit: cover;
    display: block;
    height: 220px;
    transition: filter 0.45s ease, transform 0.45s ease;
}
.cardProjeto:hover .imagemProjeto2 .img1,
.cardProjeto:hover .imagemProjeto2 .img2{
    filter: brightness(0.75);
}

.primeirasInfos .cardNome{
    padding: 15px 25px;
}

.primeirasInfos .cardNome p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(76,114,41);
    transition: opacity 0.3s ease;
}
.cardProjeto:hover .cardNome p{
    opacity: 0;
    visibility: hidden;
}

/* #region MINI CARD */
.infosCard{
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 15px;
    height: 170px;
    box-sizing: border-box;
    z-index: 3;
    border-radius: 15px;
    border: 1px solid rgb(76,114,41);
    background-color: rgba(19, 23, 20, 0.89);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transform: translateY(120%);
    transition: transform 0.45s ease;
}

.cardProjeto:hover .infosCard{
    transform: translateY(0);
}

.infosCard .conteudo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    height: calc(100% - 40px);
}

/* titulo do mini card */
.tituloCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: rgb(76,114,41);
}

.tituloCard i{
    font-size: 20px;
}

.tituloCard p{
    font-size: 20px;
    font-weight: 800;
}

.infosCard .informacao{
    padding-top: 10px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(255,243,204);
    line-height: 1;
}

/* Botão que abre o pop-up */
.btnVerMais{
    margin-top: auto;
    width: fit-content;
    background-color: transparent;
    border: none;
    color: rgb(182,140,6);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btnVerMais i{
    font-size: 15px;
}
/* #endregion */


/* #endregion */

/* #endregion */


/* #region POP-UP PROJETO */

/* estrutura de fora do pop-up */
.popUpProjetos{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    inset: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-sizing: border-box;
    padding: 30px;
}

.popUpProjetos.aberto{
    display: flex;
}

.conteudoPopup{
    position: relative;
    width: 90%;
    max-width: 1000px;
    max-height: 90vh;
    overflow-y: auto;
    background-color: rgb(19, 27, 21);
    border: 1px solid rgb(76,114,41);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}

.conteudoPopup .parteSuperior{
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* barra de scrollar */

.conteudoPopup::-webkit-scrollbar{
    width: 6px;
}

.conteudoPopup::-webkit-scrollbar-track{
    background-color: rgb(19, 27, 21);
    border-radius: 10px;
}

.conteudoPopup::-webkit-scrollbar-thumb{
    background-color: rgb(76, 114, 41);
    border-radius: 10px;
}

.conteudoPopup::-webkit-scrollbar-thumb:hover{
    background-color: rgb(182, 140, 6);
}

/* Botão de Fechar */
.btnFechar{
    position: absolute;
    top: 20px;
    right: 25px;
    background-color: transparent;
    border: none;
    color: rgba(76, 114, 41, 0.856);
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btnFechar:hover{
    color: rgb(76,114,41);
}

/* Título do projeto */
.tituloPopup{
    padding: 50px 50px 20px;
}

#popupTitulo{
    font-size: 27px;
    font-weight: 700;
    color: rgb(76,114,41);
}

/* #region Conteúdo detalho do projeto */
.informacoesProjeto{
    padding: 5px 50px 50px;
}

/* Texto descrição  */
.descricaoPopup{
    max-width: 850px;
    font-size: 15px;
    color: rgb(255,243,204);
}

/* Papel no projeto e tecnologias utilizadas */
.informacaoProjetoPopup{
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.infoPopup{
    max-width: 400px;
}

.infoPopup .subtitulo{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(182,140,6);
}

.popupPapel,
.popupTecnologias{
    font-size: 15px;
    color: rgb(255,243,204);
}

/* Carrossel do Projeto */
.carrosselProjeto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

/* midia */
.areaMidia{
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgb(9, 13, 10);
    border: 1px solid rgb(76,114,41);
}

.areaMidia img{
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    cursor: zoom-in;
}

.areaMidia video{
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

/* setas */
.setaCarrossel{
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(182,140,6);
    background-color: rgb(19,27,21);
    color: rgb(182,140,6);
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.setaCarrossel:hover{
    background-color: rgb(182,140,6);
    color: rgb(9,13,10);
    transform: scale(1.08);
}

/* contador */
.contadorMidia{
    text-align: center;
    margin-top: 15px;
    color: rgb(182,140,6);
    font-size: 14px;
    font-weight: 500;
}


/* #endregion */

/* #endregion */


/* #region RODAPÉ */
.rodape{
    width: 100%;
    height: 50px;
    background-color: rgb(19, 27, 21);
}

.navRodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navRodape .logo{
    padding-left: 30px;
}

.navRodape .logo img{
    width: 40px;
    height: auto;
}

.areaCentral{
    font-size: 12px;
    color: rgba(255, 243, 204, 0.863);
}

.linksAcesso{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 30px;
}

.linksAcesso a{
    font-size: 30px;
    color: rgb(76,114,41);
    text-decoration: none;
}
/* #endregion */


/* #region RESPONSIVIDADE */

/* Telas médias */
@media (max-width: 1200px){

    /* Menu principaç */

    .navMenu .logo{
        padding-left: 35px;
    }

    .listaMenu{
        width: 55%;
    }

    .listaMenu .itemMenu{
        font-size: 18px;
    }


    /* Parte Inicial */

    .page1 .areaExterna .parteEsquerda{
        padding-left: 70px;
        width: 55%;
    }

    .parteEsquerda .subtitulo{
        padding-top: 130px;
        font-size: 18px;
    }

    .nome{
        font-size: 60px;
    }

    .sobrenome{
        font-size: 68px;
    }

    .fraseInicial{
        font-size: 18px;
        max-width: 500px;
    }

    .page1 .areaExterna .parteDireita{
        width: 45%;
    }

    .parteDireita img{
        width: 65%;
    }


    /* Sobre Mim */

    .tema{
        padding-left: 60px;
    }

    .textoConteudo .textoSobreMim{
        padding-left: 70px;
        width: 85%;
        font-size: 16px;
    }

    .informacoesAdicionais .categorias{
        margin-left: 30px;
    }


    /* Projeto */

    .areaCards{
        gap: 15px;
    }

    .areaCards .cardProjeto{
        width: 31%;
        height: 300px;
    }

    .imagemProjeto{
        height: 215px;
    }

    .imagemProjeto img{
        width: 90%;
    }

    .imagemProjeto2{
        height: 215px;
    }

    .imagemProjeto2 .img1,
    .imagemProjeto2 .img2{
        height: 200px;
    }

    .infosCard{
        left: 20px;
        right: 20px;
        height: 160px;
    }

}

/* Telas menores */
@media (max-width: 900px){

    /* Menu */

    .navMenu .logo{
        padding-left: 25px;
    }

    .listaMenu{
        width: 65%;
    }

    .listaMenu .itemMenu{
        font-size: 16px;
    }


    /* Parte Inicial */

    .page1{
        height: auto;
        min-height: 600px;
    }

    .page1 .areaExterna{
        align-items: center;
    }

    .page1 .areaExterna .parteEsquerda{
        padding-left: 50px;
        width: 60%;
    }

    .parteEsquerda .subtitulo{
        padding-top: 100px;
    }

    .nome{
        font-size: 52px;
    }

    .sobrenome{
        font-size: 60px;
    }

    .fraseInicial{
        font-size: 16px;
        max-width: 450px;
    }

    .page1 .areaExterna .parteDireita{
        width: 40%;
    }


    /* Sobre Mim */

    .page2{
        height: auto;
        min-height: 600px;
    }

    .page2 .areaExterna{
        flex-direction: column;
    }

    .textoConteudo{
        width: 100%;
    }

    .tema{
        padding-left: 50px;
    }

    .textoConteudo .textoSobreMim{
        padding-left: 50px;
        width: calc(100% - 100px);
    }

    .page2 .areaExterna .areaDivisor{
        display: none;
    }

    .page2 .areaExterna .informacoesAdicionais{
        width: 100%;
    }

    .informacoesAdicionais .categorias{
        margin: 40px 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }


    /* Projeto */

    .page3{
        height: auto;
        min-height: 900px;
    }

    .areaCards{
        flex-direction: column;
        gap: 25px;
        margin: 40px 30px;
    }

    .areaCards .cardProjeto{
        width: min(500px, 90%);
        height: 320px;
    }

}

/* Para celular */
@media (max-width: 600px){

    /* Menu */

    .menuSuperior{
        height: 60px;
    }

    .navMenu .logo{
        padding-left: 20px;
    }

    .navMenu .logo img{
        width: 42px;
    }

    .listaMenu{
        width: 70%;
    }

    .listaMenu .itemMenu{
        font-size: 12px;
    }


    /* Parte Inicial */

    .page1{
        min-height: 700px;
        scroll-margin-top: 60px;
    }

    .page1 .areaExterna{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page1 .areaExterna .parteEsquerda{
        width: 100%;
        padding: 100px 30px 0;
        box-sizing: border-box;
        align-items: flex-start;
    }

    .parteEsquerda .subtitulo{
        padding-top: 0;
        font-size: 16px;
    }

    .nome{
        font-size: 48px;
    }

    .sobrenome{
        font-size: 54px;
    }

    .fraseInicial{
        font-size: 15px;
        max-width: 100%;
    }

    .botoesIniciais{
        flex-wrap: wrap;
        gap: 15px;
    }

    .verProjetos{
        padding: 9px 18px;
    }

    .baixarCurriculo{
        padding: 5px 0;
    }

    .page1 .areaExterna .parteDireita{
        width: 100%;
        justify-content: center;
    }

    .parteDireita img{
        width: 45%;
        padding-bottom: 20px;
    }


    /* Sobre Mim */

    .page2{
        min-height: auto;
        padding-bottom: 50px;
        scroll-margin-top: 60px;
    }

    .tema{
        padding: 50px 30px 0;
    }

    .tema p{
        font-size: 19px;
    }

    .textoConteudo .textoSobreMim{
        padding: 25px 30px 0;
        width: auto;
        font-size: 15px;
        line-height: 1.5;
    }

    .informacoesAdicionais .categorias{
        display: flex;
        flex-direction: column;
        margin: 40px 30px 0;
        gap: 20px;
    }


    /* Projetos */

    .page3{
        min-height: auto;
        padding-bottom: 50px;
        scroll-margin-top: 60px;
    }

    .areaCards{
        margin: 30px 20px;
        gap: 25px;
    }

    .areaCards .cardProjeto{
        width: 100%;
        max-width: 400px;
        height: 300px;
    }


    /* Pop-up */

    .popUpProjetos{
        padding: 15px;
    }

    .conteudoPopup{
        width: 100%;
        max-height: 95vh;
        border-radius: 15px;
    }

    .tituloPopup{
        padding: 45px 25px 15px;
    }

    #popupTitulo{
        font-size: 23px;
    }

    .informacoesProjeto{
        padding: 5px 25px 30px;
    }

    .descricaoPopup{
        font-size: 14px;
        line-height: 1.5;
    }

    .informacaoProjetoPopup{
        flex-direction: column;
        gap: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .infoPopup{
        max-width: none;
    }

    .popupPapel,
    .popupTecnologias{
        font-size: 14px;
        line-height: 1.5;
    }

    .carrosselProjeto{
        gap: 8px;
    }

    .areaMidia{
        height: 280px;
        padding: 5px;
    }

    .areaMidia img,
    .areaMidia video{
        max-height: 270px;
        max-width: 100%;
    }

    .setaCarrossel{
        width: 38px;
        height: 38px;
        font-size: 14px;
    }


    /* Rodapé */

    .navRodape .logo{
        padding-left: 15px;
    }

    .navRodape .logo img{
        width: 32px;
    }

    .areaCentral{
        font-size: 10px;
    }

    .linksAcesso{
        gap: 12px;
        padding-right: 15px;
    }

    .linksAcesso a{
        font-size: 24px;
    }
}
/* #endregion */


